<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        Email :<input type="text"  required class="form-control" id="name" name="name" [(ngModel)]='username'><br>
        Password:<input type="password" required class="form-control" id="num" name="department" [(ngModel)]='passw'><br>
     <button  class="btn btn-success" (click)="loggin()">Login!</button>
     <h4>New User   <a routerLink="/register"> Register here!</a></h4>
    

    </div> 
    
    <div class="col-md-4    "></div>
    

</div>
